# This file contains default .gitignore rules. To use it, copy it to .gitignore,
# and it will cause files like your settings.php and user-uploaded files to be
# excluded from Git version control. This is a common strategy to avoid
# accidentally including private information in public repositories and patch
# files.
#
# Because .gitignore can be specific to your site, this file has a different
# name; updating Drupal core will not override your custom .gitignore file.
# Ignore core when managing all of a project's dependencies with Composer
# including Drupal core.
# core
# Core's dependencies are managed with Composer.
composer-temp.phar
# Ignore configuration files that may contain sensitive information.
.env
# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
files/*
# Pantheon commits a settings.php for environment-specific settings.
# Place local settings in settings.local.php
sites/*/settings.local.php
# Note that services.local.yml is not loaded by default. If you would like
# to use this file add the following to your settings.local.php file:
#   $settings['container_yamls'][] = __DIR__ . '/services.local.yml';
sites/*/services.local.yml
# ** Only works in OSs that support newer versions of fnmatch (Bash 4+)
/sites/default/**/files
/sites/default/**/private
# Ignore SimpleTest multi-site environment.
sites/simpletest

# Node Modules #
################
node_modules
modules/dev

# Packages #
############
*.7z
*.dmg
*.gz
*.bz2
*.iso
*.jar
*.rar
*.tar
*.zip
*.tgz

# Logs and databases #
######################
*.log
*.sql
*.rdb

# OS generated files #
######################
.DS_Store*
ehthumbs.db
Icon
.vscode
.php_cs.cache
Thumbs.db
._*

# Vim generated files #
######################
*.un~

# SASS #
##########
.sass-cache

# IDEA Files #
##########
.idea

# TEMP #
#######
tmp
!/.php_cs.cache
/.php_cs.cache

# Things in the core directory that Drupal 8 commits in the repository.
!core/**/*.gz



vendor/*
web/core
web/sites/default